<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="#">Menu</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item active">
	          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	        </li>
					<li class="nav-item">
						<a class="nav-link" href="/vm/list">VM</a>
					</li>
	        <li class="nav-item">
	          <a class="nav-link" href="/contact">Contact</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/login">Login</a>
	        </li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/pref" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Preferences
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/pref-os">Openstack</a>
							<a class="dropdown-item" href="/pref-vmw">VMware</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/general">General</a>
						</div>
					</li>
	      </ul>
	      <form class="form-inline my-2 my-lg-0">
	        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	      </form>
	    </div>
	  </nav>
	</header>
  <main role="main" class="container-fluid">
	  <div class="row">
		  <div class="col-10" align="left">
		    {% with messages = get_flashed_messages(with_categories=true) %}
		  	  {% if messages %}
		  	    {% for category, message in messages %}
			  		  <div class="alert alert-{{ category }}">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
			  			  {{message}}
			  		  </div>
		  		  {% endfor %}
		  	  {% endif %}
		  	{% endwith %}
		    {% block body %}{% endblock %}
		  </div>
			<div class="col-md-2" align="right">
				<div class="content-section">
					<h3>Sidebar</h3>
					<p class='text-muted'>Ide kerülnek az attribútumok
						<ul class="list-group">
							<li class="list-group-item list-group-item-light">Riasztások</li>
							<li class="list-group-item list-group-item-light">Logok</li>
							<li class="list-group-item list-group-item-light">Eventek</li>
							<li class="list-group-item list-group-item-light">etc...</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</main>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
