{% extends "index.html" %}

{% block body %}
<h2>Virtuális gépek</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>VM Név</th>
        <th>VM Állapot</th>
        <th>VM Flavor</th>
        <th>VM UUID</th>
      </tr>
    </thead>
    <tbody>
      {% for inst in instance %}
        <tr>
          <td>#</td>
          <td>{{ inst.name }}</td>
          <td>{{ inst.state }}</td>
          <td>{{ inst.resource.name }}</td>
          <td>{{ inst.uuid }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
